@import "style";

$primaryFont: Inter, sans-serif;

//header
.notify {
  background-color: $color;
  text-align: center;
  color: white;
  height: 36px;
  font-size: 13px;
  padding-top: 7px;
  font-family: $primaryFont;
}

.side-menu {
  height: 40px;
  border-bottom: 1px solid #b9b9b9;
  position: relative;
  .nav-item {
    .nav-link {
      font-size: 13px;
      padding: 10px 5px;
      color: #616161;
    }
  }
}

.secury {
  i {
    font-size: 18px;
    padding-top: 3px;
  }
  font-size: 13px;
  padding-top: 8px;
  display: flex;
  justify-content: end;
}

.contact-number {
  padding-left: 10px;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  height: 38px;
  a {
    font-size: 13px;
    padding-top: 3px;
    color: #2bbef9;
    text-decoration: none;
    font-weight: bold;
  }
  .txt {
    font-size: 13px;
    padding-top: 3px;
  }
}
.dropbtn {
  background-color: #fff;
  color: $color;
  padding: 9px;
  border: none;
  cursor: pointer;
  align-items: center;
  height: 35px;
  font-size: 13px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 100;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #2bbef9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff;
  color: #2bbef9;
  opacity: 0.7;
}
.logo-img {
  height: 43.8px;
  max-width: 164px;
  img {
    width: 164px;
    padding-top: 26px;
  }
}
.btn-modal {
  margin: 25px 0 !important;
  .first {
    font-size: 14px;
    font-weight: bold;
  }
  p {
    font-size: 10px;
    margin: 0;
  }
  background-color: white;
  color: #233a95;
  border: 1px solid gray;
  margin-top: 25px;
  margin-left: 45px;
  height: 54px;
  border-radius: 10px;
  width: 150px;
}
.modal-body {
  height: 400px;
  overflow-y: scroll;
  span {
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    margin: 3px;
    font-size: small;
    height: 25px;
    width: 65px;
    text-align: center;
  }
  li {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  input {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 90%;
    margin-left: 40px;
    border: none;
    background-color: #f3f4f7;
    height: 50px;
  }
}
.search-product {
  margin-top: 25px;
  background-color: #f3f4f7;
  position: relative;
  border-radius: 10px;

  #search-input {
    box-shadow: none;
    padding-left: 20px;
    width: 85%;
    height: 53px;
    border-radius: 10px;
    background-color: #f3f4f7;
    border: none;
    &:focus-visible {
      outline: none;
    }
  }
  i {
    position: absolute;
    right: 10px;
    top: 35%;
    color: black;
  }
}
.basket {
  i {
    padding: 9px;
  }

  a {
    text-decoration: none;
    color: black;
  }
  margin-top: 33px;
  padding-left: 25px;
  .fa-user {
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
  }
  .fa-basket-shopping {
    border: 1px solid #ea2b0f;
    border-radius: 50%;
    color: #ea2b0f;
    cursor: pointer;
    background: #fad4ce;
  }
}
.dropdown {
  .btn-dropdown {
    background-color: #2bbef9;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 214px;
  }
  .dropdown-menu {
    width: 215px;
    li {
      cursor: pointer;
      &:hover {
        color: #2bbef9;
        a {
          background-color: white;
          color: #2bbef9;
        }
      }
      .first {
        display: none;
        position: absolute;
        left: 214px;
        top: 0px;
        border: 1px solid #d9d9d9;
        height: 255px;
        border-radius: 4px;
        width: 220px;
        li {
          padding: 0;
          border: none;
        }
      }
      .last {
        display: none;
        position: absolute;
        left: 214px;
        top: 0px;
        border: 1px solid #d9d9d9;
        height: 340px;
        border-radius: 4px;
        width: 220px;
        li {
          padding: 0;
          border: none;
        }
      }
      &:hover ul {
        display: block;
      }
      a {
        i {
          padding-right: 5px;
        }
      }
      .chevron {
        display: inline;
        padding: 0 13px;
      }
      .last-item {
        border-bottom: 1px solid rgb(185, 185, 185);
      }
    }
  }
}
.my-navbar {
  margin-left: 90px;
  .dropbtn {
    color: black;
    font-size: 18px;
    &:hover {
      background-color: #2bbef9;
      color: white;
      border-radius: 10px;
      padding-top: 5px;
      z-index: 110;
    }
  }
  a {
    color: black;
    text-decoration: none;
    margin: 10px;
    &:hover {
      background-color: #2bbef9;
      color: white;
      border-radius: 10px;
      padding: 10px 0px;
      z-index: 110;
    }
  }

  i {
    color: black;
  }
  &:hover {
    color: #2bbef9;
  }
}
//footer
#subscribe {
  .subscribe-box {
    img {
      position: absolute;
      right: 18%;
      bottom: 0%;
      z-index: 1;
    }
    p {
      font-family: $primaryFont;
      padding-top: 5px;
      color: #7a7a7a !important;
      font-weight: 200;
      font-size: 14px;
    }
    .subscribe-text-box {
      .btn {
        right: 1%;
        top: 10%;
        position: absolute;
        height: 50px;
        background-color: #233a95;
        border: none;
      }
      .input-box {
        i {
          position: absolute;
          top: 22%;
          left: 2%;
          color: #7a7a7a;
        }
        input {
          width: 470px;
          height: 62px;
          border-radius: 4px;
          border: none;
          padding-left: 50px;
        }
        position: relative;
      }
      color: white;
      position: absolute;
      z-index: 100;
      left: 10%;
      top: 20%;
    }
    width: 100%;
    height: 320px;
    background-color: #233a95;
    position: relative;
  }
}
#icons-footer {
  padding-top: 5px;
  background-color: #f7f8fd;
  .icons-box {
    border-bottom: 1px solid #e4e5ee;

    .icon {
      height: 20px;
      border-right: 1px solid #e4e5ee;
    }
  }
}
#footer-categories {
  padding: 1px;
  background-color: #f7f8fd;
  .custom-col-2 {
    width: 228px !important;
    .list-group {
      .second {
        font-family: $primaryFont !important;
        font-size: 13px !important;
      }
      .first {
        font-family: $primaryFont;
        font-size: 14px !important;
        color: black !important;
      }
      .list-group-item {
        background-color: #f7f8fd;
        border: none;
        color: #7a7a7a;
        font-size: 16px;
      }
    }
  }
}
#social {
  .phone-and-apps {
    border-bottom: 1px solid gray;
    .phone {
      i {
        border: 1px solid gray;
        padding: 10px;
        border-radius: 50%;
      }
      h4 {
        display: inline-block;
        font-weight: 700;
        margin-left: 10px;
      }
      span {
        color: gray;
        display: block;
        margin-left: 50px;
        font-size: 14px;
      }
    }
    .app-text {
      h6 {
        font-size: 15px;
        display: inline-block;
        font-weight: 650;
      }
      span {
        color: gray;
        display: block;
        font-size: 14px;
      }
    }
    .icons {
      font-size: 8px;
      i {
        color: darkblue;
        border: 1px solid gray;
        padding: 15px 17px;
        border-radius: 50%;
      }
    }
    .socials {
      display: flex;
      justify-content: end;
      i,
      img {
        cursor: pointer;
      }
    }
  }
}

#info-website {
  margin-top: 20px;
  span {
    font-size: 12px;
  }
  img {
    width: 200px;
    height: 30px;
  }
}

//product detail main

#product-detail {
  background-color: #f7f8fd;
  .side-info {
    .covid {
      background-color: rgb(255, 238, 242);
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(255, 178, 178);
      span {
        font-size: 12px;
        font-weight: 400;
        color: rgb(208, 142, 168);
      }
    }
    .main-info {
      ul {
        margin-left: 65px;
        height: 200px;
        width: 279px;
        li {
          .text {
            padding-top: 20px;
            color: rgb(32, 36, 53);
            font-weight: 400;
            font-size: 12px;
            margin-bottom: -15px;
          }
        }
        background-color: #f7f8fd;
        border-radius: 10px;
      }
    }
  }
  .info-product {
    .social {
      .links-facebook {
        margin-right: 10px;

        .fab {
          background-color: #3b5998;
          color: white;
          padding: 10px;
          border-radius: 50%;
          padding-left: 16px;
        }
      }
      .links-twitter {
        margin-right: 10px;
        .fab {
          background-color: #1da1f2;
          color: white;
          padding: 10px;
          border-radius: 50%;
        }
      }
      .links-pinterest {
        margin-right: 10px;
        .fab {
          padding-left: 16px;
          padding: 10px;
          border-radius: 50%;
          color: white;
          background-color: #e60023;
        }
      }
      .links-linkedin {
        margin-right: 10px;
        .fab {
          padding: 10px;
          border-radius: 50%;
          color: white;
          background-color: #0075b5;
        }
      }
      .links-reddit {
        margin-right: 10px;
        .fab {
          padding: 10px;
          border-radius: 50%;
          color: white;
          background-color: #ff4500;
        }
      }
      .links-whatsapp {
        margin-right: 10px;
        .fab {
          padding: 10px;
          border-radius: 50%;
          color: white;
          background-color: #25d366;
        }
      }
    }
    .product-type {
      margin-left: -37px;
      ul {
        li {
          a {
            color: #71778e;
            font-weight: 500;
            font-size: 12px;
            font-family: $primaryFont;
          }
          color: #9b9bb4;
          font-weight: 400;
          font-size: 12px;
          font-family: $primaryFont;
        }
      }
    }
    .check {
      font-size: 12px;
      font-family: $primaryFont;
      font-weight: 400;
      p {
        color: rgb(62, 68, 90);
        font-family: $primaryFont;
      }
      .tick {
        color: #00b853;
      }
    }
    .product-action {
      a {
        text-decoration: none;
        color: rgb(62, 68, 90);
        font-weight: 600;
        font-size: 12px;
        font-family: Dosis;
        line-height: 18px;
      }
      .btn {
        a {
          text-decoration: none;
          color: rgb(62, 68, 90);
          font-weight: 600;
          font-size: 12px;
          font-family: Dosis;
          line-height: 18px;
        }
        .fas {
          color: rgb(62, 68, 90);
          background-color: white;

          i {
            text-decoration: none;
          }
        }
      }
    }
    .add-cart {
      .count {
        .btn {
          margin-left: 10px;
          border: 1px solid #233a95;
          background-color: #233a95;
          border-radius: 25px;
          width: 110px;

          a {
            color: white;
            text-decoration: none;
            font-weight: 500;
            font-size: 13px;
          }
        }
        span {
          margin-top: 10px;
        }
        display: flex;
        justify-content: space-between;
        .plus {
          &:hover {
            background-color: gold;
          }
          cursor: pointer;
          border: 1px solid #edeef5;
          border-radius: 50%;
          background-color: #edeef5;
          width: 50px;
          height: 50px;
          p {
            text-align: center;
            margin-top: 10px;
          }
        }
        .minus {
          &:hover {
            background-color: gold;
          }
          cursor: pointer;
          border: 1px solid #edeef5;
          border-radius: 50%;
          background-color: #edeef5;
          width: 50px;
          height: 50px;
          p {
            text-align: center;
            margin-top: 10px;
          }
        }
      }
    }
    .product-vivamus {
      font-family: $primaryFont;
      font-size: 13px;
      color: rgb(62, 68, 90);
      font-weight: 400;
    }
    .stock {
      color: #00b853;
      border: 1px solid #e5f8ed;
      background-color: #e5f8ed;
      width: 90px;
      font-family: $primaryFont;
      font-size: 13px;
      border-radius: 8px;
      text-align: center;
    }
  }
  .txt {
    a {
      cursor: default;
      text-decoration: none;
      font-size: 12px;
      color: white;
      font-family: $primaryFont;
    }
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 120px;
    border: 1px solid gray;
    background-color: gray;
    border-radius: 7px;
    margin-top: 2px;
  }
  .percent {
    a {
      font-family: $primaryFont;
      cursor: default;
      text-decoration: none;
      font-size: 14px;
      color: white;
    }
    border-radius: 8px;
    text-align: center;

    width: 50px;
    border: 1px solid #2bbef9;
    background-color: #2bbef9;
  }
  .product-card {
    .cart {
      .review {
        .rating {
          margin-left: 10px;
        }
        padding-left: 10px;
      }
      background-color: white;
      width: 1250px;
      max-height: 800px;
    }
  }

  ul {
    list-style: none;
    li {
      .home {
        font-family: $primaryFont;
        font-size: 13px;
      }
      display: inline;
      a {
        font-family: $primaryFont;
        color: black;
        text-decoration: none;
        margin-right: 5px;
        padding-left: 5px;
        font-size: 12px;
      }
    }
  }
}

#tabe-menu {
  background-color: white;
  .col-12{
    .tab-content {
      font-size: 15px;
      font-weight: 400;
    }
    .tab {
      .current{
        display: inherit;
      }
      .tab-content{
        display: none;
        background: #ededed;
        padding: 15px;
      }
      .tabs {
        .current{
          background: #ededed;
          color: #222;
        }
        li{
          background: none;
          color: #222;
          display: inline-block;
          padding: 10px 15px;
          cursor: pointer;
        }
        margin: 0px;
        padding: 0px;
        list-style: none;
      }
      button {
        background-color: white;
        float: left;
        border: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.5s;
        font-style: bold;
        font-family: Inter, sans-serif;
      }
      overflow: hidden;
      border-bottom: 1px solid rgb(255, 255, 255);
      background-color: white;
      margin-top: 15px;
      margin-left: 10px;
      .tab-link {
        .p {
          line-height: 24px;
        }
        border: none;
        background-color: white;

        span {
          font-size: 16px;
          font-weight: 600;
          color: rgb(194, 194, 211);
          line-height: 24px;
          font-family: Dosis;
        }
      }
    }

    .tabcontent {
      display: none;
      padding: 6px 12px;
      background-color: white;
      .text {
        padding-right: 10px;
        width: 40%;
        height: 30px;
        border: 1.5px solid rgb(228, 217, 217);
        display: inline-block;
        p {
          margin-left: 5px;
        }
      }
      .review {
        span {
          font-size: 13px;
        }
        .user-info {
          img {
            border-radius: 50%;
            margin-left: 5px;
          }
          ul {
            display: block;
            margin-left: 3%;
            margin-top: -1%;
            li {
              display: block;
            }
          }
        }
      }
      textarea {
        height: 200px;
        width: 100%;
        background-color: #f3f4f7;
        border: none;
      }
      .mt-2 {
        .submit {
          width: 110px;
          height: 40px;
          background-color: #233a95;
          color: white;
          box-shadow: none;
          border-radius: 8px;
        }

        #mail {
          border-radius: 6px;
          background-color: #f3f4f7;
          width: 100%;
          border-style: none;
          height: 40px;
        }
        #name {
          border-radius: 6px;
          background-color: #f3f4f7;
          width: 100%;
          outline: none;
          border-style: none;
          height: 40px;
        }
        span {
          font-size: 13px;
        }
      }
    }

    .tabcontent:first-child {
      display: block !important;
    }
  }
}

#carts {
  .title {
    p {
      font-size: 20px;
      font-weight: 600;
      font-family: Dosis sans-serif;
      color: rgb(32, 36, 53);
    }
  }
  .card-products {
    &:hover {
      box-shadow: 10px 5px 5px rgb(185, 185, 185);
    }
    transition: all 0.5s;
    width: 80%;
    &:hover .btn {
      visibility: visible !important;
    }
    .recom {
      font-size: 13px;
      position: absolute;
      border: 1px solid gray;
      background-color: gray;
      border-radius: 4px;
      color: white;
      margin: 45px;
      margin-left: 15px;
    }
    .card-img-top {
      width: 80%;
      height: 80%;
      margin-top: 10px;
      margin-left: 10px;
    }
    .discount {
      position: absolute;
      border: 1px solid #2bbef9;
      background-color: #2bbef9;
      border-radius: 4px;
      color: white;
      display: flex;
      margin: 15px;
      font-size: 13px;
      padding: 3px;
      width: 35px;
      p {
        text-align: center;
      }
    }
    .card-body {
      .no-line {
        color: #ea2b0f;
        font-size: 20px;
      }
      .count {
        color: #6c757d;
        text-decoration: line-through;
      }
      .yellows {
        color: gold;
        font-weight: 600;
        font-size: 10px;
      }
      .stock {
        color: #28a745;
        font-size: 10px;
        font-weight: 700;
      }
      .btn {
        visibility: hidden;
        background-color: #233a95;
        border-radius: 30px;
        width: 90%;
      }

      .card-title {
        font-size: 13px;
        font-weight: 650;
      }
    }
  }
}
