.notify {
  background-color: #233a95;
  text-align: center;
  color: white;
  height: 36px;
  font-size: 13px;
  padding-top: 7px;
  font-family: Inter, sans-serif;
}

.side-menu {
  height: 40px;
  border-bottom: 1px solid #b9b9b9;
  position: relative;
}

.side-menu .nav-item .nav-link {
  font-size: 13px;
  padding: 10px 5px;
  color: #616161;
}

.secury {
  font-size: 13px;
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.secury i {
  font-size: 18px;
  padding-top: 3px;
}

.contact-number {
  padding-left: 10px;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  height: 38px;
}

.contact-number a {
  font-size: 13px;
  padding-top: 3px;
  color: #2bbef9;
  text-decoration: none;
  font-weight: bold;
}

.contact-number .txt {
  font-size: 13px;
  padding-top: 3px;
}

.dropbtn {
  background-color: #fff;
  color: #233a95;
  padding: 9px;
  border: none;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  font-size: 13px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 100;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #2bbef9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff;
  color: #2bbef9;
  opacity: 0.7;
}

.logo-img {
  height: 43.8px;
  max-width: 164px;
}

.logo-img img {
  width: 164px;
  padding-top: 26px;
}

.btn-modal {
  margin: 25px 0 !important;
  background-color: white;
  color: #233a95;
  border: 1px solid gray;
  margin-top: 25px;
  margin-left: 45px;
  height: 54px;
  border-radius: 10px;
  width: 150px;
}

.btn-modal .first {
  font-size: 14px;
  font-weight: bold;
}

.btn-modal p {
  font-size: 10px;
  margin: 0;
}

.modal-body {
  height: 400px;
  overflow-y: scroll;
}

.modal-body span {
  float: right;
  border: 1px solid black;
  border-radius: 10px;
  margin: 3px;
  font-size: small;
  height: 25px;
  width: 65px;
  text-align: center;
}

.modal-body li {
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal-body input {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 90%;
  margin-left: 40px;
  border: none;
  background-color: #f3f4f7;
  height: 50px;
}

.search-product {
  margin-top: 25px;
  background-color: #f3f4f7;
  position: relative;
  border-radius: 10px;
}

.search-product #search-input {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 20px;
  width: 85%;
  height: 53px;
  border-radius: 10px;
  background-color: #f3f4f7;
  border: none;
}

.search-product #search-input:focus-visible {
  outline: none;
}

.search-product i {
  position: absolute;
  right: 10px;
  top: 35%;
  color: black;
}

.basket {
  margin-top: 33px;
  padding-left: 25px;
}

.basket i {
  padding: 9px;
}

.basket a {
  text-decoration: none;
  color: black;
}

.basket .fa-user {
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.basket .fa-basket-shopping {
  border: 1px solid #ea2b0f;
  border-radius: 50%;
  color: #ea2b0f;
  cursor: pointer;
  background: #fad4ce;
}

.dropdown .btn-dropdown {
  background-color: #2bbef9;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 214px;
}

.dropdown .dropdown-menu {
  width: 215px;
}

.dropdown .dropdown-menu li {
  cursor: pointer;
}

.dropdown .dropdown-menu li:hover {
  color: #2bbef9;
}

.dropdown .dropdown-menu li:hover a {
  background-color: white;
  color: #2bbef9;
}

.dropdown .dropdown-menu li .first {
  display: none;
  position: absolute;
  left: 214px;
  top: 0px;
  border: 1px solid #d9d9d9;
  height: 255px;
  border-radius: 4px;
  width: 220px;
}

.dropdown .dropdown-menu li .first li {
  padding: 0;
  border: none;
}

.dropdown .dropdown-menu li .last {
  display: none;
  position: absolute;
  left: 214px;
  top: 0px;
  border: 1px solid #d9d9d9;
  height: 340px;
  border-radius: 4px;
  width: 220px;
}

.dropdown .dropdown-menu li .last li {
  padding: 0;
  border: none;
}

.dropdown .dropdown-menu li:hover ul {
  display: block;
}

.dropdown .dropdown-menu li a i {
  padding-right: 5px;
}

.dropdown .dropdown-menu li .chevron {
  display: inline;
  padding: 0 13px;
}

.dropdown .dropdown-menu li .last-item {
  border-bottom: 1px solid #b9b9b9;
}

.my-navbar {
  margin-left: 90px;
}

.my-navbar .dropbtn {
  color: black;
  font-size: 18px;
}

.my-navbar .dropbtn:hover {
  background-color: #2bbef9;
  color: white;
  border-radius: 10px;
  padding-top: 5px;
  z-index: 110;
}

.my-navbar a {
  color: black;
  text-decoration: none;
  margin: 10px;
}

.my-navbar a:hover {
  background-color: #2bbef9;
  color: white;
  border-radius: 10px;
  padding: 10px 0px;
  z-index: 110;
}

.my-navbar i {
  color: black;
}

.my-navbar:hover {
  color: #2bbef9;
}

#carousel .owl-carousel .item {
  position: relative;
}

#carousel .owl-carousel .item .text-box {
  position: absolute;
  top: 30%;
  left: 15%;
}

#carousel .owl-carousel .item .text-box h3 {
  font-size: 60px;
}

#carousel .owl-carousel .item .text-box .price {
  font-size: 40px;
}

#carousel .owl-carousel .item .text-box .btn {
  display: block;
  background-color: #2bbef9;
  border: none;
  border-radius: 30px;
  height: 40px;
  width: 150px;
}

#carousel .owl-carousel .owl-dot {
  display: none !important;
}

#carousel .owl-carousel .owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;
}

#carousel .owl-carousel .owl-prev {
  float: left;
  margin-left: 25px !important;
  background-color: white !important;
  border-radius: 50% !important;
}

#carousel .owl-carousel .owl-prev span {
  padding: 20px !important;
  font-size: 35px;
}

#carousel .owl-carousel .owl-prev span:hover {
  color: black;
}

#carousel .owl-carousel .owl-next {
  float: right;
  margin-right: 25px !important;
  background-color: white !important;
  border-radius: 50% !important;
}

#carousel .owl-carousel .owl-next span {
  padding: 20px !important;
  font-size: 35px;
}

#carousel .owl-carousel .owl-next span:hover {
  color: black;
}

#category-cards .col-xl-2,
#category-cards .col-xl-10,
#category-cards .col-xl-3 {
  padding: 0;
}

#category-cards .card {
  border-radius: 3px;
}

#category-cards .card .card-body {
  text-align: center;
}

#category-cards .beverages-category .card {
  height: 260px;
  width: 209px !important;
}

#category-cards .beverages-category .card img {
  height: 180px;
}

#category-cards .col-xl-10 .col-xl-3 .card {
  height: 100%;
  width: 100%;
}

.img-product .deal-discount {
  border-radius: 50%;
  background-color: #ed174a;
  display: inline;
  color: white;
  left: 60px;
  position: absolute;
  top: 315px;
  padding: 15px;
}

.img-product img {
  margin-right: 10px;
  height: 300px;
}

.sale-off {
  border: 2px solid  #ed174a;
  border-radius: 15px;
  width: 100%;
  height: 110%;
  text-align: center;
}

.sale-off h3 {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */